* { box-sizing: border-box; }

body {
    background: #09090b;
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 64px;
    width: 100%;
    background-color: #09090b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
}

.logo svg {
  width: 32px;
  height: 32px;
  display: block;
  cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 32px;
    background: #242424;
    padding: 6px 12px;
    width: 380px;
    height: 40px;
    gap: 8px;
}

.search-icon svg {
   width: 20px;
    height: 20px;
}

.divider {
    width: 2px;
    height: 60%;
    background-color: #3a3a3a;
    margin-left: 8px;
}

.nav-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 4px;
    width: 24px;
    height: 24px;
    transition: color 0.2s;
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    color: #fff;
    background-color: 1px solid red;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.search-icon {
    font-size: 16px;
    color: #b3b3b3;
    align-items: center;        
    justify-content: center;
}

.nav__buttons,
.nav__icons {
  display: flex;
  align-items: center;
  gap: 9px;
}

.search-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home-btn {
  background: #242424;
  border: none;
  color: #b3b3b3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.home-btn:hover {
  background: #1f1f1f;
  transform: scale(1.05);
}

.premium-btn {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 9999px;
  padding: 6px 16px;
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
  transition: background 0.2s;
}

.premium-btn:hover {
  background: #f1f1f1;
}

.install-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  color: #b3b3b3;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
}

.install-btn svg {
  width: 16px;
  height: 16px;
  stroke: #b3b3b3;
}

.icon-btn {
  background: none;
  border: none;
  color: #b3b3b3;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-circle {
  background: #dfdfdf url(/images/user.png) no-repeat center/70%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 7px solid #2a2a2a;
}

.layout {
    display: grid;
    grid-template-columns: 280px 1fr 264px;
    margin-bottom: 96px;
    height: calc(100vh - 64px - 96px);
    overflow: hidden;
    justify-content: center;
}

.sidebar {
    background-color: #18181a;
    /* padding: 4px; */
    margin-left: 8px;
    border-radius: 10px;
    background: #18181a;
}

.sidebar-btn {
    background: none;
    border: none;
    padding: 6px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.libray-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.libray-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.libray-icon, h2 {
    font-size: 15px;
    color: white;
    margin: 0;
}

.main-content {
    background-color: #18181a;
    padding: 16px;
    margin-left: 8px;
    border-radius: 10px;
    color: white;
    overflow-y: auto;
}

.main-content h1 {
    font-size: 20px;
}

.main-content p {
    font-size: 15px;
}

.playing-now {
    background-color: #18181a;
    padding: 16px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    color: white;
}

.player-btn {
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    background: #2a2a2a;
    display: flex;
    align-items: center;  
    justify-content: center;
    height: 50px;
}

.player-btn:hover {
    background-color: #333;
}

.now-playing {
    display: flex;
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
    align-items: center;
    padding: 8px 8px 8px;
    border-radius: 6px;
}

.now-playing img {
    width: 48px;
    height: 48px;
    align-items: center;
    border-radius: 2px;
}

.now-playing:hover {
    background-color: #333;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr)); 
    gap: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
    
}

.album-card {
    width: 247px;
    height: 300px;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    transition: background 0.2s;
    background-color: #2a2a2a;
    
}

.album-card:hover {
    background-color: #333;
}

.album-card img {
    width: 100%;
    border-radius: 4px;
}

.album-card h3, 
.album-card p {
    margin: 0;
    font-size: 14px;
}

.album-card p {
    padding-top: 2px;
    font-size: 12px;
}

.album-recent {
    width: 200px;
    height: 300px;
    margin-top: 24px;
    margin-right: 20px;
    padding: 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #2a2a2a;
    
}

.album-recent h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding-left: 10px;
}

.album-recent img {
    width: 100%;
}

.album-recent p {
    margin: 0;
    font-size: 14px;
    color: gray;
    padding-left: 10px;
}

.album-recent:hover {
    background-color: #333;
}

.recent-grid {
    display: flex;
}

footer.player {
    height: 96px;
    background-color: #09090b;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding: 0 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.player-left {
    display: flex;
    align-items: center;
    max-width: 300px;
}

.name-album h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #55ab64;
    padding-left: 10px;
}

.name-album p {
    margin: 0;
    font-size: 12px;
    color: gray;
    padding-left: 10px;
}

.player-left img {
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

.player-control {
    display: inline-block;
    align-items: center;
    padding: 0 20px;
}

.player-control button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.progress {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    justify-content: center;
}

.player-right {
    display: flex;
    align-items: center;
}

.icon-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 30px;
}

.icon-btn2 {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 40px;
}

.volume-slider {
    width: 100px;
    background: #444;
    height: 4px;
    border-radius: 2px;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.volume-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
